ldif/ldif-core/src/main/resources/xsd/DataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="DataSource">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="Label" type="xs:string"  />

        <xs:element name="Description" type="xs:string" minOccurs="0" />

        <xs:element name="Homepage" type="xs:string" minOccurs="0" />

       </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
