ldif/ldif-core/src/main/resources/xsd/LdifConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="LDIF">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="Properties" type="xs:string"  />

        <xs:element name="Sources" type="xs:string" />

        <xs:element name="LinkSpecifications" type="xs:string" />

        <xs:element name="Mappings" type="xs:string" />

        <xs:element name="Output" type="xs:string" />

       </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
