ldif/ldif-core/src/main/resources/xsd/SchedulerConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ldif="http://www4.wiwiss.fu-berlin.de/ldif/" >

<xs:element name="Scheduler">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="Properties" type="xs:string"  minOccurs="0" />

        <xs:element name="DataSources" type="xs:string" minOccurs="0" />

        <xs:element name="ImportJobs" type="xs:string" />

        <xs:element name="DumpLocation" type="xs:string" />

       </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>